@use 'base/mixins'as m;
@use 'base/variables'as v;

.entradas{
    padding: 3rem;

    h3{
        text-align: center;
        color: v.$blanco;
        margin: 0;
    }

    .contenedor-entradas{
        @include m.tablet {
            @include m.grid(2,5rem);
        }
    }
}

.pase{
    .nombre-pase{
        text-align: center;
        text-transform: uppercase;
        font-size: 2.4rem;
        color: v.$blanco;
        
    }

    &-header,&-footer{
        p{
            text-align: center;
            color: v.$blanco;
            margin: 0;
            padding: 0.5rem;
        }
    }

    
    &-header{
        background-color: v.$rosa;
        text-transform: uppercase;
        font-size: 1.6rem ;
        
    }

    &-body{
        background-color: v.$blanco;
        ul{
            @include m.resetear-lista;
            li,:nth-child(odd){
                background-color: v.$blanco;
                padding: 1rem;
                border-bottom:  solid 0.1rem #e1e1e1;
            }
            
        }
        
    }
    &-footer{
        background-color: v.$morado ;
        p{
            font-size: 2.4rem;
            font-weight: 700;
        }
 

    }
}